<html>
<body>
<p align="center"> <b>Done! Thank You!</b></p>
<p align="center"> Returning to the main page in </p>
<p align="center" id="time">5</p>
</body>
<script src="javascripts/done.js"></script>
</html>